.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    height: 80%;
    padding: 0px 15px 15px 0px;
    margin-top: 30px;
    width: 450px;
}

.cadastro-cont {
    background-color: #212121;
    display: flex;
    justify-content: center;
    height: 640px;
}

.cadastro h2 {
    display: flex;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 45px;
}

.campo {
    color: black;
    padding-top: 5px;
    text-transform: capitalize;
}

.campo label {
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px;
}

.campo input {
    width: 290px;
}

button {
    color: white;
    background-color: blue;
    border: 2px solid blue;
    width: 100px;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.senha {
    margin-bottom: 30px;
}