<footer>
    <section class="secao_footer container">
        <!-- navegue -->

        <div class="navegue">
            <h1>navegue</h1>
            <a routerLink="#">consoles</a>
            <a routerLink="#">jogos</a>
            <a routerLink="#">acessórios</a>
        </div>

        <!-- recursos -->
        <div class="recursos">
            <h1>recursos</h1>
            <a routerLink="#">notícias</a>
            <a routerLink="#">suporte</a>
            <a routerLink="#">feedback</a>
        </div>

        <!-- social -->
        <div class="social">
            <h1>social</h1>
            <a routerLink="#">facebook</a>
            <a routerLink="#">instagram</a>
            <a routerLink="#">twitter</a>
            <a routerLink="#">email</a>
        </div>

        <!-- loja -->
        <div class="loja">
            <h1>loja</h1>
            <a routerLink="#">conta</a>
            <a routerLink="#">devolução</a>
            <a routerLink="#">rastreamento</a>
        </div>

        <!-- para devs -->
        <div class="devs">
            <h1>para devs</h1>
            <a routerLink="#">jogos</a>
            <a routerLink="#">programas</a>
        </div>

    </section>
</footer>