<section>
    <div class="carrossel_jogar">
        <img src="assets/img/codwarzone.jpg" alt="Imagem do jogo Call of Dutty Warzone">
    </div>
</section>


<section>
    <div class="secao_gamepass">
        <div class="gamepass container">
            <H1>GAME PASS</H1>
        </div>

        <p>Lançamentos</p>

        <div class="gamepass_lancamentos">
            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

            <div class="gm-cont">
                <img src="assets/img/valorant.jpg" alt="Logo do jogo Valorant">
                <h2>Valorant</h2>
                <a routerLink="login">Comprar</a>
            </div>

        </div>
    </div>
</section>